/* Star Header */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ececec;
}

.background-header {
    background-image: url(../resources/ibackground.jpg);
    background-repeat: no-repeat;
    width: 1245px;
    height: 650px;
    margin: 0 auto;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ul-nav-bar {
    display: flex;
    align-items: stretch;
}

.li-nav-bar {
    display: inline;
}

.btn-nav-bar {
    color: white;
    background-image: linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
    display: inline-block;
    width: 120px;
    height: 40px;
    border: none;
}

#disable-btn:disabled {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

#icon-nav-bar {
    display: block;
    height: 40px;
    background-image: url('https://archive.md/UW4oR/d800d4d3076695e798eda59b0a90e2d80a67ba02.png'),
        linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
    background-position: 47% 4px;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

#search-nav-bar {
    width: 100%;
    height: 30px;
    border-radius: 5em;
    padding-left: 24px;
    background-image: url(../resources/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 5% 50%;
    background-color: seagreen;
}

#input-search-nav-bar {
    background-image: linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
    width: 100%;
    height: 30px;
    border-radius: 5em;
    padding-left: 24px;
}

.text-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

/* End Header */

/* Start Main */

.img-container {
    width: 1245px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: stretch;
}

.main-img {
    width: 311px;
    padding: 0;
}

/* End Main */

/* Start Footer */

footer {
    color: #888888;
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 1245px;
    height: 70px;
    margin: 0 auto;
    justify-content: space-around;
    background-color: white;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-section {
    display: flex;
    align-items: flex-start;
}

.li-right-section {
    display: inline-flex;
    padding: 0 5px 0 5px;
    border-right: #dbdbdb 1px solid;
}

#icon-right-section {
    border: none;
    padding: 0 5px 0 5px;
}

a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}


/* End Footer */