/* Star Header */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #ececec;
}

.background-header {
    background-image: url(../resources/ibackground.jpg);
    background-repeat: no-repeat;
    width: 1245px;
    height: 650px;
    margin: 0 auto;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.ul-nav-bar {
    display: flex;
    align-items: stretch;
    padding: 0;
}

.li-nav-bar {
    display: inline;

}

.btn-nav-bar {
    color: white;
    background-image: linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
    display: inline-block;
    width: 120px;
    height: 40px;
    border-right: #5e5e5e9d solid 0.5px;
    border-top: none;
    border-left: none;
    border-bottom: none;
    cursor: pointer;
}

.btn-nav-bar:hover {
    background-image: linear-gradient(to bottom,
            #999999,
            #3d3d3d);
}

#disable-btn {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


#disable-btn:hover {
    background-image: linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
}

#icon-nav-bar:hover {
    background-image: linear-gradient(to bottom,
            #999999,
            #3d3d3d);
}

#icon-nav-bar {
    display: block;
    height: 40px;
    background-image: linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
    background-position: 50% 5%;
    background-size: 20%;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-repeat: no-repeat;
    background-size: auto;
}

#apple-icon {
    width: 20%;
}

#search-nav-bar {
    width: 70%;
    height: 25px;
    border-radius: 5em;
    padding-left: 25px;
    background-image: url(../resources/search-icon.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 5% 50%;
    background-color: rgba(240, 255, 255, 0);
    color: white;
    margin: 5px 5px 5px 5px;
    border: #5e5e5e 1px solid;
    border-top: #5e5e5e 1.4px solid;
}

#input-search-nav-bar {
    background-image: linear-gradient(to bottom,
            #b8b8b8,
            #5e5e5e);
    width: 100%;
    height: 30px;
    border-radius: 5em;
    padding-left: 24px;
}

.text-header {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

.h3-text-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h3:hover {
    text-decoration: underline white solid;
}

.material-icons {
    font-size: 1.4em;
    padding: 4px 0 0 6px;
}

/* End Header */

/* Start Main */

main {
    height: 170.883px;
}

.img-container {
    width: 1245px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    align-items: stretch;
}

.main-img {
    width: 311px;
    padding: 0;
}

/* End Main */

/* Start Footer */

footer {
    color: #888888;
    font-size: 0.7em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    width: 1245px;
    height: 70px;
    margin: 0 auto;
    justify-content: space-around;
    background-color: white;
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-section {
    display: flex;
    align-items: flex-start;
}

.li-right-section {
    display: inline-flex;
    padding: 0 5px 0 5px;
    border-right: #dbdbdb 1px solid;
}

#icon-right-section {
    border: none;
    padding: 0 5px 0 5px;
}

a {
    color: rgb(0, 136, 204);
    text-decoration: none;
}


/* End Footer */